.index-page {
  .logo {
    position: relative;
    top: 18px;
  }

  h1 {
    position: relative;
    white-space: pre;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

    h2 {
      display: inline-block;
      margin-bottom: 60px;
      line-height: 1.5;
      font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      letter-spacing: -1px;
      font-size: 21px;
      font-weight: 600;
      text-align: center;
      color: #111;
      border-bottom: 3px solid #333;
    }

    ul {
      width: 90%;
      max-width: 540px;

      li:first-child {
        border-top: 1px solid #eee;
      }

      li {
        border-bottom: 1px solid #eee;
      }

      a {
        display: block;
        padding: 15px 6px;
        line-height: 1.27;
        font-weight: 500;
        color: inherit;
        transition: all 160ms ease-out;

        &:hover {
          color: #000;
          background-color: #f6f6f6;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    padding: 120px 0 45px;

    p {
      font-size: 14px;
      line-height: 1.5;
      color: #999;
    }
  }
}
