.index-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    .logo {
        cursor: none;
    }

    h1 {
        line-height: 1.8;
        font-size: 30px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        color: #111;
    }

    p {
        width: 80%;
        max-width: 600px;
        line-height: 1.27;
        font-size: 15px;
        text-align: center;
        color: #666;
    }

    p.buttons {
        margin-top: 24px;

        a {
            display: inline-block;
            margin: 0 6px;
        }
    }
}
