.wrapper {
    margin: 90px;
    text-align: center;

    p {
        margin: 0;
        font-size: 18px;
        line-height: 1.8;
    }

    .links {
        span, a {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            color: #999;
        }
        a {
            display: inline-block;
            margin: 0 9px;
        }
    }

    .counter {
        margin-top: 30px;

        strong {
            display: inline-block;
            width: 45px;
            text-align: center;
        }
        button {
            display: inline-block;
            width: 24px;
            text-align: center;
        }
        button + button {
            margin-left: 6px;
        }
    }
}
